html {
    --font-serif: 'IBM Plex Serif', 'Georgia', serif;
    --font-mono: 'IBM Plex Mono', 'Monaco', 'Courier', monospace;
    --theme-color: #0dad80;
    --font-color: #111;
    font-size: 18px;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: var(--font-serif);

    --block-accent-color: var(--theme-color);
}

body {
    overflow-x: hidden;
}

/* LAYOUT */

h1,
h2,
h3,
p {
    color: var(--font-color);
}

p,
li {
    line-height: 1.5em;
    margin: 1em 0;
    max-width: 32em;
}

a {
    color: var(--font-color);
    cursor: pointer;
}

a.block {
    text-decoration: none;
    display: inline-block;
}

input,
button {
    font-family: var(--font-serif);
}

button {
    font-size: .875em;
}

.split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.split .left,
.split .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.split .left a,
.split .right a {
    margin: .6em;
}

.highlightEditables [data-i-editable],
.highlightEditables [data-i-editable-without-remove],
[data-user-is-page-author] [data-i-editable]:hover,
[data-user-is-page-author] [data-i-editable-without-remove]:hover {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .1);
}

article {
    margin: 2em auto;
}

header,
footer,
article,
.hero {
    position: relative;
    width: calc(100% - 1.6em);
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

header::before, header::after,
footer::before, footer::after,
.hero::before, .hero::after {
    content: '';
    display: block;
    position: absolute;
    width: calc(50vw - 50%);
    height: 100%;
    top: 0;
    right: 100%;
    background: inherit;
    border: inherit;
    box-shadow: inherit;
}

header::after,
footer::after,
.hero::after {
    left: 100%;
}

[data-i-new] {
    cursor: pointer;
}

/* HEADER */

header {
    --font-color: #fff;
    background: var(--theme-color);
    padding: .75em 0;
}

header a {
    text-decoration: none;
    font-weight: bold;
}

/* HERO */

.hero {
    --font-color: #fff;

    padding-top: 3em;
    background: var(--theme-color);
    border-bottom: 4px solid #111;
    box-shadow: 0 4px rgba(0, 0, 0, .3);
}

.hero h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* BODY */

p.preamble {
    font-style: italic;
    --font-color: #555;
}

div.instructions {
    padding: .1em .8em;
    background: #fff0a0;
    margin-bottom: 1em;
    border-left: 4px solid #efd85b;
    font-size: .8em;
}

section {
    margin-bottom: 2em;
}

section h2 {
    font-size: 1.2em;
}

.link-item {
    position: relative;
    padding: .6em .4em;
    margin-bottom: 1em;
    transition: transform .2s;
}

.link-title {
    padding-bottom: .4em;
}

.link-url {
    font-size: .75em;
    font-family: var(--font-mono);
    color: #777;
}

.link-url-button {
    text-decoration: none;
    font-size: .875em;
    display: block;
    color: var(--theme-color);
    text-align: right;
    width: 100%;
}

.links .empty-state {
    font-style: italic;
    text-align: center;
    max-width: unset;
    color: #555;
}

.popular-item {
    padding: 0;
}

.popular-header,
.popular-bio {
    overflow: hidden;
    padding: 8px 10px;
}

.popular-header {
    --font-color: #fff;
    color: var(--font-color);
    background: var(--theme-color);
    margin-top: -1px; /* blocks.css sizing quirk */
}

.popular-bio {
    font-size: .875em;
    font-weight: normal;
    font-style: italic;
}

hr {
    width: 30%;
    min-width: 200px;
    max-width: 500px;
    border: 0;
    border-top: 3px solid var(--font-color);
}

/* FOOTER */

footer {
    padding: 1.4em 0;
}

footer p {
    font-style: italic;
}

footer a.remake {
    font-weight: bold;
}

@media only screen and (min-width: 700px) {
    .sidebar-split {
        display: flex;
        flex-direction: row;
    }

    .mainbar {
        width: 0;
        flex-grow: 1;
    }

    .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        width: 280px;
        margin-left: .8em;
    }
}

/* ACCOUNTS PAGES */

label {
    display: block;
    margin-bottom: 1em;
}

.input-wrapper {
    padding: 0;
}

.input-wrapper input {
    padding: .4em .6em;
    border: 0;
    font-size: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

form button {
    font-size: 1em;
    margin-right: 0 !important;
    margin-left: auto !important;
}
