html,
body {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {

}

nav.split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .left,
nav .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* HERO */

/* BODY */

/* FOOTER */
