<header>
    <nav class="split">
        <div class="left">
            <a href="/">Shelf.page</a>
        </div>
        <div class="right">
            <a href="/user/login">Log in</a>
        </div>
    </nav>
</header>

<div class="hero">
    <h1>Set a new password</h1>
</div>

<article>
    <form action="" method="post">
        <label>
            <span>New password</span>
            <div class="fixed block input-wrapper">
                <input type="password" name="password" required>
            </div>
        </label>
        <button class="accent block" type="submit">Update password</button>
    </form>
</article>
