<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Shelf.page</title>
  <link rel="stylesheet" type="text/css" href="/sass/blocks.min.css">
  <link rel="stylesheet" type="text/css" href="/sass/main.css">
  <link rel="stylesheet" type="text/css" href="/css/remake.css">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{#if flashErrors }}
      {{#each flashErrors }}
        <div class="flash fixed block flash--error">{{ this }}</div>
      {{/each}}
    {{/if}}
    {{#if flashSuccesses }}
      {{#each flashSuccesses }}
        <div class="flash fixed block flash--success">{{ this }}</div>
      {{/each}}
    {{/if}}
  </div>
  <!-- load app body -->
  {{> yield }}
  <hr/>
  <footer>
      <p>
      Shelf.page is a project by
      <a href="https://thesephist.com/" target="_blank">@thesephist</a>.
      It's made with
      <a href="https://remaketheweb.com/" target="_blank" class="remake">Remake</a>
      and
      <a href="https://thesephist.github.io/blocks.css/" target="_blank">blocks.css</a>.
      </p>
  </footer>
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/js/remake-init.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>
</body>
</html>
